<div class="layout-footer">
    <div class="img-footer">
      <img src="../../../../assets/layout/images/sonlgaz-logo.png" alt="ultima-footer-logo" class="ultima-footer-logo">
    </div>
    <div class="flex gap-2">
        <button pButton pRipple type="button" icon="pi pi-github" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-text p-button-plain"></button>
    </div>
</div>
