/*:host {
    position: relative;
    display: block;
    height: 90%;
    border: 1px solid lime;
  }*/

  :host ::ng-deep {
    .p-fileupload-content {
        border: 0 none;
    }

    .p-fileupload {
        padding: 0;
    }

    .p-fileupload-buttonbar {
        display: none;
    }
}

ul.a {
    list-style-type: circle;
  }

   
