.layout-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;

    background-color: var(--surface-card);
}
.img-footer {
  height: 50px;
  width: 40px;
}

.ultima-footer-logo {
  height: 100%;
  width: 100%;
}
