<div class="grid">
  <div class="col-12">
      <div class="card px-6 py-6">
          <p-toast></p-toast>
          <p-toolbar styleClass="mb-4">
              <ng-template pTemplate="left">
                  <div class="my-2">
                      <button pButton pRipple label="Ajouter" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                  </div>
              </ng-template>
          </p-toolbar>

          <p-table #dt [value]="organes" styleClass="p-datatable-gridlines" [columns]="cols" responsiveLayout="scroll" [rows]="10"  [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="{last} sur {totalRecords}" [(selection)]="selectedOrganes" selectionMode="multiple" [rowHover]="true" dataKey="id">
              <ng-template pTemplate="caption">
                  <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                      <h5 class="m-0">Liste des organes</h5>
                      <span class="block mt-2 md:mt-0 p-input-icon-left">
                          <i class="pi pi-search"></i>
                          <input #test pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Rechercher..."  class="w-full sm:w-auto"/>
                      </span>
                  </div>
              </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                      <th pSortableColumn="titre">
                        <div class="flex justify-content-between align-items-center">
                          Titre
                          <p-columnFilter type="text" field="titre" display="menu" placeholder="Rechercher par titre"></p-columnFilter>
                        </div>
                      </th>
                      <th pSortableColumn="typeOrgane">
                        <div class="flex justify-content-between align-items-center">
                          Type d'organe
                          <p-columnFilter type="text" field="typeOrgane.designation" display="menu" placeholder="Rechercher par titre"></p-columnFilter>
                        </div>
                      </th>
                      <th pSortableColumn="lieu">
                        <div class="flex justify-content-between align-items-center">
                          Société
                          <p-columnFilter type="text" field="societe.code" display="menu" placeholder="Rechercher par titre"></p-columnFilter>
                        </div>
                      </th>
                      <th></th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-organe>
                  <tr>
                      <td style="width:30%; min-width:10rem;"><span class="p-column-title">Titre</span>
                          {{organe.titre}}
                      </td>
                      <td style="width:30%; min-width:10rem;">
                          <span class="p-column-title">Type</span>
                          {{organe.typeOrgane.designation}}
                      </td>

                      <td style="width:30%; min-width:8rem;">
                          <span class="p-column-title">Société</span>
                          {{organe.societe.code}}
                      </td>

                      <td>
                          <div class="flex">
                              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editOrgane(organe)"></button>
                              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="deleteOrgane(organe)"></button>
                              <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-help" (click)="listMembres(organe)"></button>
                          </div>
                      </td>
                  </tr>
              </ng-template>
          </p-table>
      </div>


      <p-dialog [(visible)]="deleteOrganeDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
          <div class="flex align-items-center justify-content-center">
              <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
              <span *ngIf="organe">Êtes-vous sur de supprimer l'organe <b>{{organe.titre}}</b>?</span>
          </div>
          <ng-template pTemplate="footer">
              <button pButton pRipple icon="pi pi-times" class="p-button-text" label="Non" (click)="deleteOrganeDialog = false"></button>
              <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Oui" (click)="confirmDelete()"></button>
          </ng-template>
      </p-dialog>


  </div>
</div>
