<div class="card">
  <span class="text-900 text-xl font-bold mb-4 block"   >Renitialiser le mot de passe</span>
  <p-toast></p-toast>
  <div class="grid">
    <div class="col-12  init-pass">
      <form class="grid formgrid p-fluid" [formGroup]="passwordForm" (ngSubmit)="onFormSubmit($event)" >
        <div class="field mb-4 col-12 md:col-12">
          <label for="email" class="font-medium text-900">Mot de passe actuel</label>
          <span class="p-input-icon-left">
            <p-password type="password" [toggleMask]="true" formControlName="oldPassword" placeholder="Mot de passe" strongRegex="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=.*[0-9])(?=\\D*\\d)(?=.*[$@$!%?&])[A-Za-z\\d!$%@#£€*?&]{14,}$"  [ngClass]="{'ng-invalid ng-dirty' : submitted && f['oldPassword'].errors}"></p-password>
            <small id="password-help" *ngIf="submitted && f['oldPassword'].errors && f['oldPassword'].errors?.['required']" class="p-error block">Champ Obligatoire </small>
            <small style="color: red;" id="password-help" *ngIf="submitted && f['oldPassword'].errors && f['oldPassword'].errors?.['pattern']" class="p-error block">Le mot de passe doit au moins contenir 14 caractère ,une lettre Majuscule, minuscule , un chiffre et un caractère spécial  </small>
          </span>
        </div>
        <div class="field mb-4 col-12 md:col-12">
          <label for="Prenom" class="font-medium text-900">Nouveau Mot de passe</label>
          <span class="p-input-icon-left">
            <p-password type="password" [toggleMask]="true" formControlName="newPassword" placeholder="Mot de passe" strongRegex="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=.*[0-9])(?=\\D*\\d)(?=.*[$@$!%?&])[A-Za-z\\d!$%@#£€*?&]{14,}$"  [ngClass]="{'ng-invalid ng-dirty' : submitted && f['newPassword'].errors}"></p-password>
            <small id="password-help" *ngIf="submitted && f['newPassword'].errors && f['newPassword'].errors?.['required']" class="p-error block">Champ Obligatoire </small>
            <small style="color: red;" id="password-help" *ngIf="submitted && f['newPassword'].errors && f['newPassword'].errors?.['pattern']" class="p-error block">Le mot de passe doit au moins contenir 14 caractère ,une lettre Majuscule, minuscule , un chiffre et un caractère spécial  </small>
          </span>
        </div>
        <div class="field mb-4 col-12 md:col-12">
          <label for="email" class="font-medium text-900">Confirmation du nouveau mot de passe</label>
          <span class="p-input-icon-left">
            <p-password type="password" [toggleMask]="true" formControlName="confirmNewPassword" placeholder="Mot de passe" strongRegex="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=.*[0-9])(?=\\D*\\d)(?=.*[$@$!%?&])[A-Za-z\\d!$%@#£€*?&]{14,}$"  [ngClass]="{'ng-invalid ng-dirty' : submitted && f['confirmNewPassword'].errors}"></p-password>
            <small id="passwordConfirm-help" *ngIf="submitted && f['confirmNewPassword'].errors && f['password'].errors?.['required']" class="p-error block">Champ Obligatoire </small>
            <small style="color: red;" id="confirmPassword-help" *ngIf="submitted && f['confirmNewPassword'].errors && f['confirmNewPassword'].errors?.['confirmedValidator']" class="p-error block">Les deux mots de passe ne concordent pas. </small>
          </span>
        </div>
        <div class="col-2">
          <button type="submit" pButton pRipple class="w-full my-3 px-3 p-button-success" label="Réinitialiser le mot de passe"></button>
        </div>
      </form>
    </div>
  </div>
</div>


