<div class="h-screen flex flex-column bg-cover init-pass" style="background: url('assets/layout/images/auth-background.png')">

  <div class=" shadow-2 bg-indigo-500 z-5 p-3 flex justify-content-between flex-row align-items-center">
      <div class="ml-3 flex" routerLink="/">
          <div>
              <img class="h-2rem w-20rem" src="../../../../../assets/layout/images/sonelgaz-logo-auth.jpg" alt="" />
          </div>
      </div>
  </div>

  <p-toast></p-toast>
  <div class="align-self-center mt-auto mb-auto init-div">

      <div class="text-center z-5 flex flex-column border-1 border-round-md surface-border surface-card px-3"  *ngIf="!hasError">
          <div class="-mt-5 text-white bg-cyan-700 border-round-md mx-auto px-3 py-1 border-1 surface-border">
              <h2 class="m-0">Initialisation Mot de passe</h2>
          </div>
          <h4>BIENVENUE</h4>
          <div class="text-color-secondary mb-6 px-6">Vous devez initiliser votre mot de passe !</div>
          <form [formGroup]="passwordForm" (ngSubmit)="onFormSubmit($event)" >
            <div class="w-full flex flex-column gap-3 px-3 pb-6">
              <span class="p-input-icon-left">
                <p-password type="password" [toggleMask]="true" formControlName="password" placeholder="Mot de passe" strongRegex="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=.*[0-9])(?=\\D*\\d)(?=.*[$@$!%?&])[A-Za-z\\d!$%@#£€*?&]{14,}$"  [ngClass]="{'ng-invalid ng-dirty' : submitted && f['password'].errors}"></p-password>
                <small id="password-help" *ngIf="submitted && f['password'].errors && f['password'].errors?.['required']" class="p-error block">Champ Obligatoire </small>
                <small style="color: red;" id="password-help" *ngIf="submitted && f['password'].errors && f['password'].errors?.['pattern']" class="p-error block">Le mot de passe doit au moins contenir 14 caractère ,une lettre Majuscule, minuscule , un chiffre et un caractère spécial  </small>
              </span>

              <span class="p-input-icon-left">
                <p-password type="password" [toggleMask]="true" formControlName="confirmPassword" placeholder="Confirmation du Mot de passe" strongRegex="^(?=[^A-Z]*[A-Z])(?=[^a-z]*[a-z])(?=.*[0-9])(?=\\D*\\d)(?=.*[$@$!%?&])[A-Za-z\\d!$%@#£€*?&]{14,}$"  [ngClass]="{'ng-invalid ng-dirty' : submitted && f['confirmPassword'].errors}"></p-password>
                <small id="passwordConfirm-help" *ngIf="submitted && f['password'].errors && f['password'].errors?.['required']" class="p-error block">Champ Obligatoire </small>
                <small style="color: red;" id="confirmPassword-help" *ngIf="submitted && f['confirmPassword'].errors && f['confirmPassword'].errors?.['confirmedValidator']" class="p-error block">Les deux mots de passe ne concordent pas. </small>
              </span>
                <button type="submit" pButton pRipple class="w-full my-3 px-3" label="Se connecter"></button>

            </div>
          </form>
      </div>

      <div class="align-self-center mt-auto mb-auto" *ngIf="hasError">

          <div class="text-center z-4 border-round-lg border-1 surface-border bg-white p-3 shadow-3 flex flex-column">
              <div class="border-round-md mx-auto border-1 surface-border text-white bg-pink-500 -mt-6 px-3 py-1">
                  <h2 class="m-0">ERREUR</h2>
              </div>
              <div class="surface-200 p-3 mb-5 shadow-2 border-round-md mt-3 px-6">
                  <img src="assets/layout/images/pages/error.png" class="w-full" alt="" />
              </div>
              <div class="text-color-secondary pb-6">{{messageError}} </div>

              <button pButton pRipple type="button" label="Retour à la page d'authentification" [routerLink]="['/']"
                  class="p-button-text"></button>
          </div>
      </div>

  </div>
</div>


<app-config [minimal]="true"></app-config>
