
.init-pass {
  ::ng-deep{
    .p-inputwrapper , input{
      width: 100%;
    }
    .p-input-icon-right {
      .p-icon-wrapper{
        right: 0.75rem;
        color: #6c757d;
      }
    }
  }

}

.init-div {
  min-width: 40%;
}
